<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="ion-no-padding">
    <ion-row
      class="ion-justify-content-center ion-align-items-center layout-login"
    >
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-input
              label="Email"
              type="Email"
              errorText="Invalid email"
              placeholder="email@domain.com"
              labelPlacement="floating"
              [(ngModel)]="email"
              ngModel
              email
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              label="Password"
              type="password"
              labelPlacement="floating"
              [(ngModel)]="password"
            ></ion-input>
          </ion-item>
        </ion-list>
        <div class="ion-margin-top button-separators">
          <ion-button color="danger" routerLink="/">Cancelar</ion-button>
          <ion-button (click)="registerUser()">Registrarse</ion-button>
        </div>
        <ion-item-divider></ion-item-divider>
        <div class="ion-margin-top ion-text-center">
          <ion-button (click)="registerWithGmail()"
            ><ion-icon slot="start" name="logo-google"></ion-icon>Continuar con
            Google</ion-button
          >
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
